
@media screen and (min-width: 768px) and (max-width: 1023px){

    .categories-container {
        .category-list {
            gap: 15px;
        }
    }

    main {
        .dish-wrap {
            .dish-container {
                width: 200px;
                height: 200px;
            }
        }
    }
    footer {
        .footer-content {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            .first-section {
                display: block;
                .section_about {
                    width: 100%;
                    &__quote {
                        font-size: 12px;
                    }
                }
                .section-menu {
                    margin: 20px 0;
                }
            }
            .section-rights{ 
                margin-top: 0px;
                width: 100%;
            }
        }
    }
}

/* * {
    outline: 1px solid red;
} */
@media screen and (max-width: 767px) {
    header {
        .categories-container {
            display: none;
        }
        .search-modal {
            width: 100wv;
            &__container {
                width: 100vw;
                padding: 15px;
                form {
                    margin: 20px auto;
                }
                .close-button {
                    margin-left: 30px;
                }
            }
        }
        .find-product {
            width: 411px;
        }
    }

    main {
        .dish-wrap {
            
            .dish-container {
                width: 80%;
                a {
                    &:hover {
                        color: inherit;
                    }
                }
                &:hover {
                    box-shadow: none;
                    scale: none;
                }
                      
            }
        }
    }
    footer {
        .footer-content {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            .first-section {
                display: block;
                .section_about {
                    width: 100%;
                }
                .section-menu {
                    margin: 20px 0;
                }
            }
            .section-rights{ 
                margin-top: 0px;
                width: 100%;
            }
        }
    }
}